<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudtenant.yunmenkeji.cloudtenant">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.buoymanagement.htht.buoymanagemenapp.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!--获取 device id 辨别设备-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--腾讯地图 SDK 要求的权限(结束)-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络状态, 检测网络的可用性，需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"

        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <meta-data android:name="Mob-AppKey" android:value="25266aa58a2db"/>
        <meta-data android:name="Mob-AppSecret" android:value="9e3ca1b1eaed1f7a0fff9ae73f98b18e"/>
        <meta-data
            android:name="TencentMapSDK"
            android:value="NQ3BZ-BORR4-I6IUC-D3PQQ-VYAQ2-PKBEQ"/>
        <activity android:name="com.cloudtenant.yunmenkeji.cloudtenant.activity.SplashActivity_"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.IndexActivity_"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"

            />
        <activity android:name=".activity.LoginActivity_"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"

            />
        <activity android:name=".activity.HouseDetilActivity"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"

            />
        <activity android:name=".activity.ShareActivity"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"

            />
        <activity android:name=".activity.DisMapActivity"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"

            />
        <activity android:name=".activity.PayActivity"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"

            />

        <activity android:name=".activity.RoutingActivity"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"

            />
        <activity android:name=".activity.TnementAcitivity_"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"

            />
        <activity android:name=".activity.MpChartActivity"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"


            />
        <activity android:name=".activity.OnlineVisitAcivity"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"

            />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.AboutActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.RequestActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.SettingActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.MyFamilyActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.ManageActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.SensorActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                    android:name=".activity.MessageOtherActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                    android:name=".activity.MessageRoomActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                    android:name=".activity.MessageTraceActivity" />
        <!--<activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.LoginActivity" />-->
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.EditProFileActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.CityPickerActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.ContractActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.SensorAddActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.NoticeActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.ContractDetailsActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.ResetPwdActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.TestNoticeActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.CommitIdActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.IdCammerActivity" />

        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.QrCodeActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape"
            android:name=".activity.SignViewActivity" />



    </application>




    <meta-data android:name="design_width" android:value="768">
    </meta-data>
    <meta-data android:name="design_height" android:value="1280">
    </meta-data>
</manifest>